<p>
    <a routerLink="/admin/products/new" type="button" class="btn btn-primary"
style="margin-left: 20%; margin-top: 4%;"
>Add New</a>
</p>

<p>
    <input style="width: 70%;"
    #query
    (keyup) = "filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>

<table style="width: 70%; margin-left: 30px;" class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngfor="let p of allProducts">
            <td> {{p.title}} </td>
            <td> {{p.price}} </td>
            <td>
                <a [routerLink]="['/admin/products/', p.$key]">Edit</a>
            </td>
        </tr> -->
        <tr *ngFor="let p of filteredProducts">
            <td>{{ p.title }}</td>
            <td>{{ p.price }}</td>
            <td>
              <a href="/admin/products/new">Edit</a>
            </td>
          </tr>
    </tbody>
</table>

